/* General Body Styling */
body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styling */
header {
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px solid #0056b3;
}

/* Chart Containers */
#chartdiv {
  width: 49%;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 1%;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#chart2 {
  width: 49%;
  height: 400px;
  position: absolute;
  top: 100px;
  right: 1%;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#chart3 {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 550px;
  left: 0;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#chart4 {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 1000px;
  left: 0;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 3px solid #0056b3;
}
